# virtual env catalog
env*/

# python cache
__pycache__/*

# compiled
*.pyc

# in this file some login info
check.py
authorization_data.py

# vienv tools
Activate.bat
Create venv.bat
Deactivate.bat
vIDLE.bat